# Python virtual environments
venv/
venv_csiborg/
venv_gpu_csiborgtools/

# Compiled Python files
*.pyc

# Jupyter Notebook checkpoints
*/.ipynb_checkpoints/

# Egg-info directories
.eggs/*
csiborgtools.egg-info/*

# Build directories
build/*
bin/*
share/*

# Scripts and their outputs
scripts/*.out
scripts_plots/*.out
scripts_independent/clear.sh

# Specific script files
*python.sh
*python3.sh

# IDE settings
.vscode/settings.json

# Miscellaneous
.bashrc
*.out

# Generated plots
plots/*

# Data files
data/*

notebooks/test.ipynb
data/BulkFlowPlot.npy
data/upglade_z_0p05_all.h5
