venv_csiborg/
share/
bin/
.bashrc
*.pyc
*/.ipynb_checkpoints/
plots/*
.vscode/settings.json
csiborgtools/fits/_halo_profile.py
csiborgtools/fits/_filenames.py
csiborgtools/fits/analyse_voids_25.py
scripts/*.out
build/*
.eggs/*
csiborgtools.egg-info/*
Pylians3/*
scripts/plot_correlation.ipynb
scripts/*.sh
venv/
.trunk/*
scripts_test/
scripts_plots/python.sh
scripts_plots/submit.sh
scripts_plots/*.out
scripts_plots/*.sh
notebooks/test.ipynb
