venv_galomatch/
share/
bin/
.bashrc
*.pyc
*/.ipynb_checkpoints/
plots/*
.vscode/settings.json
csiborgtools/fits/_halo_profile.py
csiborgtools/fits/_filenames.py
csiborgtools/fits/analyse_voids_25.py
scripts/*.sh
scripts/*.out
build/*
.eggs/*
csiborgtools.egg-info/*
scripts/playground_*
scripts/*.ipynb
Pylians3/*
